/* CSS Custom Styles */

/*Color codes*/
/*  Dark teal 006080 - 0, 96, 128
    Teal 20B2AA - 32, 178, 170
    orange 20B2AA
 */

/**********************/
/*      General       */
/**********************/

h1, h2, h3, h4, h5, h6{
    color: #006080;
}

.small-text{
    font-size: small;
}

.centered{
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

.align-right{
    text-align: right;
}

.no-margin{
    margin:0;
}

.spacer {
    margin-top: 30px;
}

.big-spacer {
    margin-top: 60px;
}

.border-teal{
    border-color:#20B2AA;
}

.color-teal{
    color:#20B2AA;
}

.border-left-teal{
    border-left:10px solid #006080;
    padding: 10px 20px;
    text-align: left;
    #background-color: rgba(32, 178, 170, 0.2);
}

.border-right-teal{
    border-right:10px solid #006080;
    padding-right: 20px;
    padding-left: 5px;
    text-align: right;
}


/**********************/
/*       Base         */
/**********************/
/* Navbar */
#menu{
    background:#006080;
    border-color:#006080;
}

#menu li>a:hover{
    color: #006080;
    background-color: #20B2AA;
}
#menu li>a:focus{
    color: #006080;
    background-color: #20B2AA;
}

#menu li.active>a{
    color: #20B2AA;
    background-color: #006080;
    border-bottom: 3px solid #20B2AA;
    margin-bottom:-3px;
}

#menu .navbar-brand{
    padding-top: 0;
}


/**********************/
/*        Home        */
/**********************/

/* Carousel */
#myCarousel {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height:300px;
}

.carousel-caption{
    padding-bottom: 10px;
}

.carousel-caption>h1, .carousel-caption>h2, .carousel-caption>h3{
    color:#fff;
    text-shadow:1px 1px 2px #444343;
    background-color:rgba(0, 0, 0, 0.3);
}

.carousel-inner{
    border-radius:20px;
}

.carousel-control.right, .carousel-control.left{
    background-image:none;
}

.carousel-indicators{
    margin-bottom:-30px;
}

@media screen and (max-width: 1199px){
    #myCarousel h1{
        font-size:35px;
    }
    #myCarousel h2{
        font-size:23px;
    }
    .carousel-indicators{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 991px){
    #myCarousel h1{
        margin-top: 20px;
        font-size:20px;
    }
    #myCarousel h2{
        font-size:15px;
    }
    .carousel-indicators{
        margin-bottom: 85px;
    }
}
@media screen and (max-width: 767px){
    #myCarousel h1{
        font-size:16px;
    }
    #myCarousel h2{
        font-size:13px;
    }
    .carousel-inner .btn {
        width: 80px;
        margin-bottom: 0;
    }
    .carousel-caption .btn{
        font-size: 10px;
    }
    .carousel-indicators{
        margin-bottom: 105px;
    }
}
@media screen and (max-width: 699px){
    #myCarousel{
        display: none;
    }
}

/* Testimonials */
.testimonial-box{
    padding: 5px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    box-shadow: 3px 3px 5px #d5d5d5;
    text-align: left;
    margin:10px;
}

.testimonial-header{
    height: 100px;
}

.testimonial-bg{
    background-color: coral;
    height:60px;
    float: none;
}

.testimonial-bg.coral{
    background-color: #ff7f50;
}

.testimonial-bg.green{
    background-color: #008000;
}

.testimonial-bg.purple{
    background-color: #9370db;
}

.testimonial-image{
    padding: 10px;
    height:120px;
    z-index: 99;
}
.testimonial-image>img{
    width:100px;
}

/* Sections */
#who-we-are-img #what-we-offer-img{
    padding: 10px;
}



/**********************/
/*       Forms        */
/**********************/

#register-form input {
    width: 80%;
}

/**********************/
/*      Products      */
/**********************/
.product-mini-name{

}

.product-mini-image>img{
    padding:5px 15px;
}

.product-mini-item{
    padding: 1px;
    border: 1px solid #d5d5d5;
    height: 100%;
    border-radius: 3px;
    box-shadow: 3px 3px 5px #d5d5d5;
    text-align: center;
    margin:10px 0;
}

.product-mini-price{
    font-size: 2.3em;
}

.popover{
    /*background-color:rgba(32, 178, 170, 0.3);*/
    border: 1px solid #006080;

    background-color: rgba(241, 241, 241, 0.9);
}

.popover-title{
    background-color:rgba(32, 178, 170, 0.9);
}

.popover.right>.arrow{
    border-right-color:#006080;
}

/**********************/
/*       CTAs         */
/**********************/
.cta{
    border: 3px solid #20B2AA;
    border-radius: 10px;
    box-shadow: 3px 5px 5px #d5d5d5 ;
    padding: 10px;
    text-align: center;
}

.button-light-teal{
    background-image: linear-gradient(#26d9d0, #22c3bb 60%, #20B2AA);
    background-repeat: no-repeat;
    border: 1px solid #20B2AA;
    background-color:#20B2AA;
}

.button-light-teal:hover{
    background-image: linear-gradient(#26d9d0, #22c3bb 60%, #20B2AA);
    background-repeat: no-repeat;
    border: 1px solid #20B2AA;
    background-color:#20B2AA;
}


/**********************/
/*        Blog        */
/**********************/
.blog-mini-image>img{
    padding:5px 15px;
}

.blog-image-list>img{
    padding: 0 50px;
}

.blog-mini-item{
    padding: 5px;
    border: 1px solid #d5d5d5;
    height: auto;
    border-radius: 3px;
    box-shadow: 3px 3px 5px #d5d5d5;
    margin: 10px 0;
}

.blog-mini-title{
    height: 55px;
    overflow: hidden;
    margin-bottom:10px;
}

.blog-mini-content{
    height: 60px;
    overflow: hidden;
}


/**********************/
/*     Contact us     */
/**********************/
.google-maps{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-left:15px;
}

.google-maps iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

