/* CSS Custom Styles */

.border-green{
    border-color:#bed600;
}

.color-green{
    color:#bed600;
}

.centered{
    text-align: center;
    align:center;
}

/* Navbar */
#menu{
    background:#403b65;
}

#menu li>a:hover{
    color: #bed600;
}

/* Forms */
/* Testing register-form*/
#register-form input {
    width: 80%;
}


