{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h2>We are sorry you've cancelled the purchase.</h2>
            <p class="spacer">&nbsp;</p>
            <h4>Please let us know if there is something we can do to help.</h4>
            <p class="spacer">&nbsp;</p>
            <h4><span class="glyphicon glyphicon-user"></span>&emsp;
                <a href="{% url 'profile' %}">Go to My Profile</a></h4>
            <h4><span class="glyphicon glyphicon-shopping-cart"></span>&emsp;
                <a href="{% url 'products' %}">Go to Products</a></h4>
            <h4><span class="glyphicon glyphicon-star"></span>&emsp;
                <a href="{% url 'blog' %}">Go to Blog</a></h4>
        </div>
        <div class="col-sm-3">
            {% include 'cta/cta_contactus.html' %}
        </div>
    </div>
{% endblock %}
