{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}
    <!-- check if the purchase was saved successfully -->
    {% if last_purchase %}
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div>
                        <h3>Thank you for buying SPSS </h3> <!--Add the actual product they bought-->
                        <p>Your transaction has been completed, and a receipt for your purchase has been emailed to you.
                            You may log into your account at www.paypal.com to view details of this transaction.</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="col-sm-12">
                    <div>
                        <h4>Your last purchase:</h4>
                        <ul>
                            <li>Product: {{ last_purchase.product }} {{ last_purchase.product.osystem }}</li>
                            <li>Price: {{ last_purchase.product.price }}</li>
                            <li>License expires on: {{ last_purchase.license_end }}</li> <!-- | date-->
                        </ul>
                        <p>You will receive an email with instructions to download and install your
                            software shortly in the email address you registered with us (note it could be
                            different than the one you used in Paypal) *</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <br>
                    <h4>What's next?</h4>
                    <ul>
                        <li>Check out <a href="{% url 'blog' %}"> our blog</a></li>
                        <li>Request a <a href="mailto:easySPSSweb@gmail.com">consultation </a>with a member of our team.</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                {% include 'cta/cta_contactus.html' %}
            </div>
        </div>
        <!-- if there is no last purchase it receives a message from the view with more information -->
    {% else %}
        {{ html }}
    {% endif %}
{% endblock %}

