{% extends "base.html" %}
{% load static %}
{% load blog_extras %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to our SPSS & Analytics Blog</h1>
            <p>Here you will find industry insights, SPSS and Analytics tips and tricks, advice for your projects and much more.</p>
            <p class="spacer">&nbsp;</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <!-- blog posts -->
            {% if posts %}
                <div class="row blog-mini-row">
                    {% for post in posts %}
                        <div class="col-sm-4 ">
                            <div class="blog-mini-item">
                                <div class="blog-mini-title">
                                    <h4><a href={% url 'post-detail' post.id %}>{{ post.title|truncatewords:7 }}</a></h4>
                                </div>
                                <div class="blog-mini-date">
                                    <i>{{ post.published_date| date }} | {{ post.category }}</i>
                                </div>
                                {% if post.image.url %}
                                    <div class="blog-mini-image">
                                        <img class="img-responsive" src="{{ post.image.url }}"
                                             alt="{{ post.title|truncatewords:7 }}" />
                                    </div>
                                {% endif %}
                                <div class="blog-mini-content">{{ post.content|truncatewords:15 |linebreaksbr}}
                                </div>
                                <br>
                                <div class="blog-mini-button centered">
                                    <a class="btn btn-default" href="{% url 'post-detail' post.id %}">
                                        Read more</a>
                                </div>
                            </div>
                        </div>
                        <!-- 3 posts per row -->
                        {% if forloop.counter|divisibleby:3 %}
                            </div>
                            <div class="row blog-mini-div">
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-warning">We're working on amazing blog posts for you.</div>
            {% endif %}
        </div>
        <!-- end blog posts -->

        <!-- right column -->
        <div class="col-sm-3">
            <!-- List of most voted posts -->

                {% get_most_voted_posts %}
                <div class="big-spacer">&nbsp;</div>
                <!-- List of most viewed posts -->
                {% get_most_viewed_posts %}
        </div>
        <!-- end right column -->
    </div>
{% endblock %}
