{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}


{% block content %}
    <div class="row"></div>
        <div class="col-sm-12">
            <h3><a href="">{{ post.title }}</a></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-6">
                    <p>By: {{ post.author.first_name }} {{ post.author.last_name }} &emsp;<b>|</b>&emsp; Category: {{ post.category}}</p>
                        <p><span>{{ post.published_date | date }}</span>&nbsp;&nbsp;<span class="badge pull-right">{{ post.views }} views</span></p>
                </div>
                <div class="col-sm-2">
                    <a href="https://twitter.com/intent/tweet?url={{ current_path }}&via=easySPSS&text={{ post.title }}"
                       target="_blank"><img class="img-responsive" src="{% static 'images/tweet.png' %}"/></a>
                </div>

                <div class="col-sm-2">
                    <button class="btn btn-primary pull-left" onclick="location.href='/blog'">Back to Blog</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="centered"><img class="img-responsive" src="{{ post.image.url }}" ></div>
                    <div>
                        <br>
                        <p>{{ post.content|linebreaksbr  }}...</p>
                        {% if user.is_authenticated %}
                            <p>{% load disqus_tags %}
                                {% set_disqus_title post.title %}
                                {% disqus_show_comments %}
                            </p>
                        {% else %}
                            <div class="alert alert-warning centered">
                             <p><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Log in </a>&emsp;
                                 or &emsp;<a href="{% url 'register' %}"><span class="glyphicon glyphicon-pencil"></span> Register </a>
                                <br>to see the comments. </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <!-- List of popular posts -->
        </div>
    </div>
{% endblock %}
