{% extends "base.html" %}
{% load static %}
{% load blog_extras %}


{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ post.title }}</h2>
        </div>
    </div>

    <div class="row">
        <!-- blog post details -->
        <div class="col-sm-9">
            <!-- header -->
            <div class="row">
                <div class="col-sm-8">
                    <p>By: {{ post.author.first_name }} {{ post.author.last_name }}
                        &emsp;<b>|</b>&emsp; Category: {{ post.category}}</p>
                    <p><span>Posted: {{ post.published_date | date }}</span>&nbsp;</p>
                    <p>
                    <!-- Voting buttons or login message -->
                        {% if user.is_authenticated %}
                            <span id="voting" ><a href="{% url 'voteup' post.id %}">
                                <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i></a>
                                &emsp;<a href="{% url 'votedown' post.id %}">
                                <i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i></a></span>
                        {% else %}
                            <span id="login-voting" class="alert-warning"><a href="{% url 'login' %}">
                                <span class="glyphicon glyphicon-log-in"></span> Log in </a>to vote </span>
                        {% endif %}
                        <!-- Metrics on votes and views. Social media sharing. -->
                        &emsp;<span class="badge"> {{ post.score }}
                            {% if post.score == 1 %}point{% else %}points{% endif %}</span>
                        &emsp;&emsp;<span class="badge">{{ post.views }} views</span>&emsp;&emsp;
                        <a href="https://twitter.com/intent/tweet?url={{ current_path }}&via=easySPSS&text={{ post.title }}"
                       target="_blank"><img src="{% static 'images/tweet.png' %}"/></a>
                    </p>
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-primary pull-left" href="{% url 'blog' %}">Back to Blog</a>
                </div>

            </div>
            <!-- end header -->
            <!-- content -->
            <div class="row">
                <div class="col-md-12">
                    <div class="centered"><img class="img-responsive" src="{{ post.image.url }}" ></div>
                    <div>
                        <br>
                        <p>{{ post.content|linebreaksbr  }}...</p>
                        <p class="spacer">&nbsp;</p>
                        <!-- disqus comments only if the user is loged in-->
                        {% if user.is_authenticated %}
                            <p id="disqus">{% load disqus_tags %}
                                {% set_disqus_title post.title %}
                                {% disqus_show_comments %}
                            </p>
                        {% else %}
                            <div  class="alert alert-warning centered">
                             <p id="login-disqus"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Log in </a>&emsp;
                                 or &emsp;<a href="{% url 'register' %}"><span class="glyphicon glyphicon-pencil"></span> Register </a>
                                <br>to see the comments. </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- end content -->
        </div>
        <!-- end blog post details -->
        <!-- popular posts -->
        <div class="col-sm-3">
            {% get_most_voted_posts %}
            <div class="big-spacer">&nbsp;</div>
            {% get_most_viewed_posts %}
        </div>
        <!-- end popular posts -->
    </div>
{% endblock %}
