<!-- CTA on sidebar for registered users that are not active customers -->
{% load static %}
<div id="cta-offer" class="cta">
    <div>
        <h3>SPSS up to 50% discount!</h3>
        <p>Get the software you need at the price you expect<br>
        Contact us for more information!</p>
        <a href="{% url 'contact' %}" ><img class="img-responsive centered" src="{%  static 'images/offer.png' %}"/></a>
        <span class="spacer"></span>
        <p> <a href="{% url 'contact' %}" class="btn btn-warning button-light-teal" >Contact us</a></p>
    </div>
</div>