{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy SPSS Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block head_js %}{% endblock %}
</head>
<body>
    <div class="container">
        <nav id="menu" class="navbar navbar-inverse">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
            <a class="navbar-brand" href="#"><img src="../static/images/logo.png"> </a>

		    <div id="myNavbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ><a class="active" href="/">Home</a> </li>
                    <li ><a href="/products">Products</a> </li>
                    <li ><a href="/blog">Blog</a> </li>
                    <li ><a href="#">Contact</a> </li>

			    </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li ><a href="/profile"><span class="glyphicon glyphicon-user"></span> My Profile</a> </li>
                        <li ><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a> </li>

                    {% else %}
                        <li ><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a> </li>
                        <li ><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log in</a> </li>

                    {% endif %}

                </ul>
            </div>
		</nav>
    </div>
    <div class="container">
    <div class="container-fluid">
        {% if messages %}
            <div class="alert">
                {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="container-fluid">
            {%  block content %}
            {% endblock %}
        </div>
        <div class="footer">
            <p>&nbsp;</p>

            <hr class="border-teal">

           <p>Created by Irene Garcia</p>
       </div>
    </div>
</div>
</body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>