{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Title contains keywords for marketing purposes -->
    <title>SPSS made easy </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/font-awesome-4.7.0/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Block to include other javascript in child templates -->
    {% block head_js %}{% endblock %}
</head>
<body>
    <!-- menu -->
    <div class="container">
        <nav id="menu" class="navbar navbar-inverse">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
            <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %}"/> </a>
		    <div id="myNavbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- Using request.resolver.match to highlight the active menu -->
                    <li id="nav-home" {% if request.resolver_match.url_name == 'index'%}class="active"{% endif %}>
                        <a href="/">Home</a>
                    </li>
                    <li id="nav-about" {% if request.resolver_match.kwargs.url == 'about/' %}class="active"{% endif %}>
                        <a href="/pages/about">About Us</a>
                    </li>
                    <li id="nav-products" {% if request.resolver_match.url_name == 'products'%}class="active"{% endif %}>
                        <a href="{% url 'products' %}">Products</a>
                    </li>
                    <li id="nav-blog" {% if request.resolver_match.url_name == 'blog' or request.resolver_match.url_name == 'post-detail'%}class="active"{% endif %}>
                        <a href="{% url 'blog' %}">Blog</a>
                    </li>
                    <li id="nav-contact" {% if request.resolver_match.url_name == 'contact'%}class="active"{% endif %}>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
			    </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- Show profile, tickets and log out only if the user is authenticated -->
                    {% if user.is_authenticated %}
                        <li id="nav-profile" {% if request.resolver_match.url_name == 'profile'%}class="active"{% endif %}>
                            <a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> My Profile</a>
                        </li>
                        <li id="nav-tickets" {% if request.resolver_match.url_name == 'ticket-detail' or request.resolver_match.url_name == 'tickets-list' or request.resolver_match.url_name == 'new-ticket' %}class="active"{% endif %}>
                            <a href="{% url 'tickets-list' %}"><span class="glyphicon glyphicon glyphicon-briefcase"></span> My Tickets </a> </li>

                        <li id="nav-logout"><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Log out</a> </li>
                    <!-- Show register and login only if the user is not authenticated -->
                    {% else %}
                        <li id="nav-register" {% if request.resolver_match.url_name == 'register'%}class="active"{% endif %}>
                            <a href="{% url 'register' %}"><span class="glyphicon glyphicon-pencil"></span> Register</a>
                        </li>
                        <li id="nav-login" {% if request.resolver_match.url_name == 'login'%}class="active"{% endif %}>
                            <a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Log in</a> </li>
                    {% endif %}
                </ul>

            </div>
		</nav>
    </div>
    <!-- end menu -->
    <!-- main content -->
    <div class="container">
        <div class="container-fluid">
            <!-- messages passed from views, if any -->
            {% if messages %}
                <div class="alert">
                    {% for message in messages %}
                        <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <!-- end messages -->

            <div class="container-fluid">
                <!-- block to insert child templates -->
                {%  block content %}
                {% endblock %}
                <!-- end block -->
            </div>
        </div>
    </div>
    <!-- end main content -->
    <!-- footer -->
    <div class="container">
        <div class="footer">
            <div class="row">
                <div class="col-md-12">
            <div class="spacer">&nbsp;</div>
            <hr class="border-teal">
        </div></div>
    <div class="row">
        <div class="col-md-9">
            <p>Created by Irene Garcia</p>
            <p class="small"><i>* easySPSS is a fictional company. It is not related to IBM Software or the fictional TV
                characters showed in this website in any way.</i></p>
        </div><div class="col-md-3">

        <div>
            <a href="http://www.facebook.com" target="_blank"><img src="{% static 'images/sm-fb.png' %}"/></a>
            &emsp;<a href="http://www.twitter.com" target="_blank"><img src="{% static 'images/sm-tw.png' %}"/></a>
            &emsp;<a href="http://www.linkedin.com" target="_blank"><img src="{% static 'images/sm-li.png' %}"/></a>
            <div class="big-spacer">&nbsp;</div>
            <div class="big-spacer">&nbsp;</div>
        </div>
            </div> </div>
       </div>
    </div>
    <!-- end footer -->
</body>

</html>