{% extends "base.html" %}
{% block content %}
    <h2>Hi {{ user.first_name }}!</h2>
    <br>
    <div class="row">
        <div class="col-sm-9">
            <div class="col-sm-12">
                <h4>Your Details:</h4>
                <ul>
                    <li><b>Name</b>: {{ user.first_name }} {{ user.last_name }}</li>
                    <li><b>Company</b>: {{ user.company }}</li>
                    <li><b>Email</b>: {{ user.email }}</li>
                    <li><b>Phone</b>: {{ user.phone }}</li>
                    <li><b>Industry</b>: {{ user.industry }}</li>
                </ul>
            </div>

            <div class="col-sm-12">&nbsp;</div>
            <div class="col-sm-12">
                <h4>Your Products:</h4>
                    {% include "products/purchases.html" %}

            </div>
        </div>
        <div class="col-sm-3">
        {% include 'cta/cta_contactus.html' %}
        </div>
    </div>
{% endblock %}