{%  extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <div class="col-md-6">
        <h1>Register to get more insights!</h1>
        <p>When you create your account you will be able to: </p>
        <ul>
            <li>Buy products and save your orders in your profile</li>
            <li>Access all content from our resources</li>
            <li>Comment and like our blog posts</li>
            <li>Get the latest offers</li>
            <li>And much more</li>
            </ul>
    <h4>Register today!</h4>
    </div>
    <div class="col-md-6">
    <h2>Register to get more insights!</h2>
    <form role="form" id="register-form" method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create Account</button>
        </div>
    </form>
    </div>
{% endblock %}


