{% extends "base.html" %}
{% load ticket_extras %}

{% block content %}
    <!-- header -->
    {% if user.is_authenticated %}
        <div class="row">
            <!-- Ticket status and show warning message for inactive customers -->
            <div class="col-md-6">
                {% if not user.is_customer and not user.is_staff %}
                    <!--<a href="{#% url 'new-ticket' %#}" class="btn btn-primary disabled ">Open New Ticket </a>-->
                    <p class="alert alert-warning">Only Active Customers can open and update tickets.
                           If your account is inactive but you need help with an open ticket please
                        <a href="{% url 'contact' %}">contact us</a>.</p>
                {% endif %}
                <h3 class=" {% if ticket.status == "CLS" %}text-danger{% else %} text-success{% endif %} ">
                        Status: {{ ticket.get_status_display }}</h3>
             </div>
            <div class="col-md-6">
                <a href="{% url 'tickets-list' %}" class="btn btn-default">Back to My Tickets</a>
            </div>
        </div>
        <!-- end header -->

        <div class="row">
            <!-- Buttons to update tickets -->
            <div class="col-md-6">
                {% if user.is_customer or user.is_staff  %}
                    {% if ticket.status != "CLS" %}
                        <a href="{% url 'new-comment' ticket.id %}" class="btn btn-default">Add Comment</a> &emsp;
                        <a href="{% url 'close-ticket' ticket.id %}" class="btn btn-danger">Close Ticket</a>
                    {% else %}
                        <a href="{% url 'reopen-ticket' ticket.id %}" class="btn btn-warning">Reopen Ticket</a>
                    {% endif %}
                    </div><div class="col-md-6">
                        {% if not user.is_staff %}
                            <a href="{% url 'new-ticket' %}" class="btn btn-primary">Open New Ticket</a>
                        {% endif %}
                {% else %}
                     </div><div class="col-md-6">
                {% endif %}
            </div>
        </div>

        <!-- ticket header -->
        <div class="row">
            <!-- Ticket subject -->
            <div class="col-md-9">
                <h2>Ticket: {{ ticket.subject }}</h2>
            </div>
        </div>
        <div class="row">
            <!-- ticket details -->
            <div class="col-md-9">
                <p><b>Product:</b> {{ ticket.product }}</p>
                <p><b>Reason: </b>{{ ticket.get_reason_display }}</p>
                <p><b>Created date:</b> {{ ticket.opened_date }}
                {% if ticket.closed_date != None %}
                    | <b>Closed date:</b> {{ ticket.closed_date }}
                {% endif %}
                </p>
                <p>Last commented by {% last_comment_user ticket %} {% last_comment_date ticket %}</p>
                <br><br>
                <h4>Comments</h4>
                <table class="table"><tbody>
                    {% for comment in comments   %}
                        <tr><td>
                            <b>{{ comment.user.first_name }} {{ comment.user.last_name }} |
                                {% comment_date_humanized comment%}</b>
                            <br><br>{% autoescape off %}
                            {{ comment.comment }}
                            {% endautoescape %}
                            <!-- Staff can delete comments if ticket is not closed -->
                            {% if ticket.status != "CLS" and user.is_staff %}
                                {% if ticket.comments.count > 1 %}
                                   <div class="pull-right">
                                        <a href="{% url 'delete-comment' ticket.id comment.id %}">
                                            <i class="fa fa-trash-o"></i></a>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <div class="spacer">&nbsp;</div>
                        </td></tr>
                    {% endfor %}
                </tbody></table>
            </div>
            <!-- end ticket details -->
        </div>
    {% endif %}
{% endblock %}